<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>442094658019-2iu8tv96jmspf3je6c8r6l1i3m63preo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.442094658019-2iu8tv96jmspf3je6c8r6l1i3m63preo</string>
	<key>API_KEY</key>
	<string>AIzaSyAkyw8Fto-HFwouIepDQu1fzSy-D3oNW7g</string>
	<key>GCM_SENDER_ID</key>
	<string>442094658019</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codeforany.pushNotificationDemo</string>
	<key>PROJECT_ID</key>
	<string>codeforany-80c1e</string>
	<key>STORAGE_BUCKET</key>
	<string>codeforany-80c1e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:442094658019:ios:e69408d7b29f30b5fd00d6</string>
</dict>
</plist>